---
import Container from "./Container.astro"
import Topic from "./Topic.astro"
---
<Container>
<div class="relative flex flex-col items-center md:flex-row">
    <Topic title="Wizard of Hahz" description="The Creator of BLKLUV [ORG] is a blockchain thought leader and develop offering his services for Love Cash Money." />
</div>

<div class="flex-row items-center my-6 p-14 bg-black text-white rounded-[45px]">
    <div class="justify-items-center relative w-full border border-lime rounded-3xl">
        <div class="p-4 md:p-10">
            <p class="items-center justify-center text-white text-sm md:text-lg font-normal mb-4">"I manifested BLKLUV [ORG] in 2020 and documented everything on the blockchain as proof that belief is currency. I built a multi-million dollar blockchain non-profit solution after being denied every VC funding or financial grant I applied for. All I needed was belief in myself and a love to manifest the purpose economy solution for the world. Follow me down the orange Bitcoin brick road to digital asset ownership for those with a heart."</p>
            <span class="text-lime text-base md:text-xl font-medium">Wizard of Hahz<br/></span><span class="text-white text-lg font-normal">Chief Bitcoin Officer $CBO</span>
        </div>
    </div>
</div>

</Container>